# image
*.ase
*.aseprite
*.bmp
*.gif
*.png
*.psd
# fonts
*.otf
*.ttf
# sounds
*.mp3
*.ogg
*.wav
# video
*.ogv
*.webm
# spreadsheets
.xlsm
.xlsx

!*.import

.bin
# <- Releases
.old
.vscode
# <- Sem essa linha as suas configurações entrarão em colapso com as minhas
addons 
# <- Verificar a possibilidade de usar sub-modules com o git

.import/*
# <- confira: https://docs.godotengine.org/en/3.0/getting_started/workflow/assets/import_process.html#files-generated */